/* Variáveis globais */

:root {
  --background: rgb(53, 53, 53);
  --background-r2plan: rgb(217, 217, 217);
  
  --primary-color: hsl(204, 42%, 27%);
  --secondary-color: rgb(60, 110, 113);

  --text-color: rgb(255, 255, 254);
  --link-color: rgb(79, 102, 103);

  --button-bg-color: rgb(255, 255, 254);
  --button-text-color: rgb(0,0,0);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

/* Tipografia */

h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.5rem; }

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Elementos Genéricos*/

table {
  color: rgb(0,0,0);
  background-color: rgb(217, 217, 217);
  text-align: center;
  width: 100%;
}

table th {
  background-color: rgb(60, 110, 113);
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

/* Elementos Específicos*/

.button {
  color: var(--button-text-color);
  display: inline-block;
  background-color: var(--button-bg-color);
  padding: 1rem;
  border-radius: 10px;
}

.plan {
  background-color: burlywood;
  overflow: hidden;
  touch-action: none;
  position: relative;
}

.plan canvas {
  background-color: var(--background-r2plan);
  position: relative;
}

.plan-button {
  position: absolute;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.center-button {
  background: url('../img/logo-netuno.png') center center no-repeat;
  background-size: contain;
  height: 60px;
  width: 40px;
  z-index: 1;
  bottom: .8rem;
  right: .8rem;
}

.escalaout-button {
  background: url('../img/sinal-menos.png') no-repeat center center;
  background-size: 50%;
  border: solid 2px #000;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  z-index: 1;
  top: 5.5rem;
  right: .8rem;
}

.escalain-button {
  background: url('../img/sinal-mais.png') no-repeat center center;
  background-size: 50%;
  border: solid 2px #000;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  z-index: 1;
  top: .8rem;
  right: .8rem;
}


#center-button {
  position: absolute;
  bottom: 0;
}

.view {
  width: 100%;
}

.alerta {
  background-color: rgb(60, 110, 113);
  padding: .5rem;
}

.alerta--erro {
  background-color: rgb(133, 55, 55);
}

.table--del-cell {
  color: rgb(241, 83, 83);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}