/* Tipografia */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.5rem; }

a {
  color: var(--link-color);
  text-decoration: none;
}