/* Variáveis globais */

:root {
  --background: rgb(53, 53, 53);
  --background-r2plan: rgb(217, 217, 217);
  
  --primary-color: hsl(204, 42%, 27%);
  --secondary-color: rgb(60, 110, 113);

  --text-color: rgb(255, 255, 254);
  --link-color: rgb(79, 102, 103);

  --button-bg-color: rgb(254, 255, 255);
  --button-text-color: rgb(0,0,0);
}