#lista-view {
  overflow-x: auto;
  padding: .5rem;
  width: 100%;
  max-width: 1500px;
}

table {
  color: var(--table-text-color);
  background-color: #000;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

table th {
  background-color: var(--table-th-background-color);
  padding: .9rem 2rem;
  color: var(--table-th-text-color);
}

table td {
  padding: .9rem 2rem;
}

tbody tr:nth-child(odd) {
  background-color: var(--table-tr-background-color-odd);
}

tbody tr:nth-child(even) {
  background-color: var(--table-tr-background-color-even);
}

.table--del-cell {
  color: rgb(241, 83, 83);
  font-weight: 700;
}

.table--neg-cell {
  background: url('../img/sinal-inverter.png') center center no-repeat;
  background-size: 22%;
}