.float-plan {
  width: auto;
  padding: .5rem;
}

.float-plan .plan{
  border-radius: 10px;
  border: solid 1px;
  border-color: #000;
}

.versor-info {
  text-align: center;
  font-size: 2rem;
  color: var(--versor-text-color);
}

.exit-plan {
  position: absolute;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  background: rgb(138, 45, 45) url('../img/sinal-mais.png') no-repeat center center;
  transform: rotate(45deg);
  background-size: 110%;
  border: solid 2px #000;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  right: .5rem;
  top: .5rem;
  scale: .6;
}