.project-info {
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  display: none;
  max-width: 500px;
  color: var(--color-text-info-project);
}

.project-info__text-box {
  height: 50vh;
  overflow-y: auto;
}

.project-info__logo {
  width: 100%;
}

.project-info h1 {
  text-align: center;
}

.project-info h2 {
  text-align: center;
  margin: 2rem 1rem;

}

.project-info__text {
  overflow-y: auto;
  padding: 0 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.project-info__button {
  position: absolute;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  background: rgb(138, 45, 45) url('../img/sinal-mais.png') no-repeat center center;
  transform: rotate(45deg);
  background-size: 110%;
  border: solid 2px #000;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  z-index: 1;
  right: .5rem;
  top: .5rem;
  scale: .6;
}
